.wrapper {

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.2em;
        margin-bottom: 2em;

        input {
            text-align: center;
            background: none;
            border: none;
            font-size: 1em;
            padding: 0.4em 1em;
            margin-bottom: 1em;
            border-bottom: 1px solid #000;
        }

        button {
            border-radius: 20px;
            color: #000;
            background: none;
            font-size: 1em;
            padding: 0.4em 3em;
            border: 1px solid #000;
            cursor: pointer;
        }

        button:hover {
            color: #fff;
            background-color: #121212;
        }
    }
}