@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700&subset=latin-ext');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #F1F1F1;
}